.action-node {
	color: cornflowerblue;
	font-weight: bold;
	cursor: pointer;
}
.action-node:hover{
	color: blue;
}

.art2 .action-node {
	color: #bbbbbb
}
.art2 .action-node:hover {
	color: #ffffff
}
