.text-node {
	white-space: pre-line;
	line-height: 1.2;
}

.text-node>.last-word {
	white-space: pre;
}

.text-node>.last-word>.last {
	display: inline-block;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	animation-duration: .033s;
	animation-iteration-count: 1;
}

.text-node>.last-word>.break-guard {
	visibility: hidden;
}

/* using two identical animations so we can re-trigger by toggling class */

.text-node>.last-word>.last.last-0 {
	animation-name: text0;
}

.text-node>.last-word>.last.last-1 {
	animation-name: text1;
}

@keyframes text0 {
	0% {
		transform: scale(1.5);
		opacity: 0;
	}
	100% {
		transform: scale(1.0);
		opacity: 1;
	}
}

@keyframes text1 {
	0% {
		transform: scale(1.5);
		opacity: 0;
	}
	100% {
		transform: scale(1.0);
		opacity: 1;
	}
}
